{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIMVerify | Home</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav>
    <div class="logo">NIMVerify</div>

    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Verify NIN</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<section class="hero">

<h1>Fast • Secure • Reliable</h1>

<p>Your trusted platform for NIN Verification and Identity Services.</p>

<a href="#" class="btn">
Verify NIN Now
</a>

</section>

<section class="services">

<h2>Our Services</h2>

<div class="cards">

<div class="card">
<h3>NIN Verification</h3>
<p>Instant verification using authorized providers.</p>
</div>

<div class="card">
<h3>Slip Reprint</h3>
<p>Request NIN slip reprint easily.</p>
</div>

<div class="card">
<h3>Wallet Funding</h3>
<p>Fund your wallet securely.</p>
</div>

<div class="card">
<h3>Transaction History</h3>
<p>View all your previous requests.</p>
</div>

</div>

</section>

<footer>

<p>© 2026 NIMVerify. All Rights Reserved.</p>

</footer>

</body>
</html>