{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Account | NIMVerify</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="register-box">

<h1>Create Account</h1>

<form>

<input type="text" placeholder="Full Name">

<input type="text" placeholder="Username">

<input type="email" placeholder="Email Address">

<input type="text" placeholder="Phone Number">

<input type="password" placeholder="Password">

<input type="password" placeholder="Confirm Password">

<button>Create Account</button>

</form>

<p>

Already have an account?

<a href="#">Login</a>

</p>

</div>

</body>
</html>